[Unit]
Description=lights controller service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/lights/.env
WorkingDirectory=/etc/lights
ExecStart=/usr/local/bin/lights-api
RestartSec=3
Restart=on-failure

[Install]
WantedBy=multi-user.target
